body { width: 100%; height: 100%; background-color: #fff; }

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }

/* Headers */
h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

/* Navigation */
nav ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 5px; list-style: none; font-weight: bold; border-bottom: 2px solid darkblue}
nav ul li { display: inline; margin-right: 20px; }
/*.navbar { position: fixed; z-index: 1; }*/

/* Footer */
footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 5px; list-style: none; font-weight: bold; }
footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }


/* Background Images */
/* Container holding the image and the text */
.bgImage-container { position: relative; text-align: center;}
/* Bottom left text */
.bgImagebottom-left { position: absolute; bottom: 8px; left: 16px; }
/* Top left text */
.bgImage-top-left { position: absolute; top: 8px; left: 16px; }
/* Top right text */
.bgImage-top-right { position: absolute; top: 8px; right: 16px; }
/* Bottom right text */
.bgImage-bottom-right { position: absolute; bottom: 8px; right: 16px; }
/* Centered text */
.bgImage-centered { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }


/* Dropdown Menu */
/* The container <div> - needed to position the dropdown content */
.dropdown { position: relative; display: inline-block; }
/* Dropdown Content (Hidden by Default) */
.dropdown-content { display: none; position: absolute; background-color: darkgreen; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; }
/* Links inside the dropdown */
.dropdown-content a { color: white; padding: 12px 16px; text-decoration: none; display: block; border:1px solid darkblue; }
/* Change color of dropdown links on hover */
.dropdown-content a:hover { color: orange; background-color: #003459; text-decoration: underline; }
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content { display: block; }
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn { background-color: #3e8e41; }



/* Past Talk Layout */
/* Labels */
.talkBox-labelcontainer { overflow: hidden; display: flex; height: 200px; border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; background: #f3f3f3; }
.talkBox-labellefthalf {line-height: 1em; float: left; display: inline-block; align-items: center; margin-left: 5%; margin-right: 1%; height: 100%; width: 100%; color: #0084bd; }
.talkBox-labelrighthalf { line-height: 1em; float: right; display: inline-block; align-items: center; margin-left: 1%; margin-right: 5%; height: 100%; width: 100%; color: #0084bd; }
.talkBox-labellefthalf h4{ color: green; margin-top: 7.5%; text-shadow: 1px 1px black; line-height: 30px; }
.talkBox-labelrighthalf h4{ color: green; margin-top: 7.5%; text-shadow: 1px 1px black; line-height: 30px; }
/* Content */
.talkBox-contentcontainer { overflow: hidden; display: flex; height: 800px; background: white; padding-top: 2%; padding-bottom: 2%; }
.talkBox-lefthalf { line-height: 1em; float: left; display: flex; align-items: center; margin-left: 5%; margin-right: 1.5%; height: 100%; width: 100%; color: white; clear: bottom; }
.talkBox-righthalf { line-height: 1em; float: right; display: inline-block; align-items: center; margin-left: 1.5%; margin-right: 5%; height: 100%; width: 100%; padding: 0%; clear: bottom; }





/* Past Talk Layout 
#tstcontainer{ height: auto; width: 100%; margin: 120px auto 0 auto; position: relative; }
#tstcontainer p{ color: blue; font-size: 15px; padding-left: 5px; }
#tstcontainer h2{ color: blue font-size: 18px; text-decoration: none; padding-left: 5px; padding-top: 2px; }

#tstcontainer2{ height: 60px; width: 840px; margin: 0 auto; position: relative; -moz-box-shadow: 0 0 5px 5px green; -webkit-box-shadow: 0 0 5px 5px green; box-shadow: 0 0 5px 5px green; }
#tstcontainer2 p{ color: white; font-size: 15px; padding-left: 5px; }
#tstcontainer2 h2{ color: white; font-size: 18px; text-decoration: none; padding-left: 5px; padding-top: 2px; }

#tstimg{ height: 450px; width: 840px; -moz-box-shadow: 0 0 5px 5px black; -webkit-box-shadow: 0 0 5px 5px black; box-shadow: 0 0 5px 5px black; }
#tstl_holder{  position: absolute; display: inline-block; left: 0px; top: 0px; cursor: auto; margin: auto; }
#tstr_holder{  position: absolute; display: inline-block; right: 0px; top: 0px; cursor: auto; margin: auto; }
.tstleft{ height: 700px; width: 700px; display: inline-block; top: 45%; left: 25px; }
.tstright{ height: 700px; width: 700px; display: inline-block; top: 45%; right: 25px; }
.tstclear{ clear: bottom; }


@media screen and (min-width:300px){
    #tstcontainer { height: 670px; display: flex; display: -webkit-flex; }
    #tstl_holder { -webkit-flex: none; flex: none; }
    #tstr_holder { -webkit-flex: none; flex: none; }
    #tstleft { -webkit-flex: 1; flex: 1; height: 400px; }
    #tstright { -webkit-flex: 1; flex: 1; height: 400px; }
}
*/


/* Past Talk Layout 
.talkBox-container { display: table; width: 100%; }
.talkBox-lefthalf { background-color: #ff9e2c; left: 0px; width: 50%; height: 65%; }
.talkBox-righthalf { background-color: #b6701e; right: 0px; width: 50%; height: 65%; }

#tstcontainer{ height: auto; width: auto; margin: 120px auto 0 auto; position: relative; }
#tstcontainer p{ color: blue; font-size: 15px; padding-left: 5px; }
#tstcontainer h2{ color: blue font-size: 18px; text-decoration: none; padding-left: 5px; padding-top: 2px; }

#tstcontainer2{ height: 60px; width: 840px; margin: 0 auto; position: relative; -moz-box-shadow: 0 0 5px 5px black; -webkit-box-shadow: 0 0 5px 5px black; box-shadow: 0 0 5px 5px black; }
#tstcontainer2 p{ color: white; font-size: 15px; padding-left: 5px; }
#tstcontainer2 h2{ color: white; font-size: 18px; text-decoration: none; padding-left: 5px; padding-top: 2px; }

#tstimg{ height: 450px; width: 840px; -moz-box-shadow: 0 0 5px 5px black; -webkit-box-shadow: 0 0 5px 5px black; box-shadow: 0 0 5px 5px black; }
#tstl_holder{ height: 450px; width: 100px; position: absolute; left: 0px; top: 0px; cursor: pointer; }
#tstr_holder{ height: 450px; width: 100px; position: absolute; right: 0px; top: 0px; cursor: pointer; }
.tstleft{ height: 800px; width: 800px; position: absolute; top: 45%; left: 25px; }
.tstright{ height: 800px; width: 800px; position: absolute; top: 45%; right: 25px; }
.tstclear{ clear: bottom; }

@media all and (min-width: 320px) and (max-width: 10in){
	body { background: #141414; }
	#tstcontainer{ width:100%; height:auto; margin-top: 3%;}
	#tstcontainer p{  }
	#tstcontainer h2{  }
	#tstcontainer2{  }
	#tstcontainer2 p{  }
	#tstcontainer2 h2{  }
	#tstcontainer2 .body_black_box{  }
	#tstimg{ width:100%; margin-bottom: 5px; }
	#tstl_holder{  }
	#tstr_holder{  }
	.tstleft{  }
	.tstright{  }
	.tstclear{  }
}
*/
