<!-- Allows for LaTeX writing -->
<script type="text/javascript" async 
	src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?
	config=TeX-AMS-MML_HTMLorMML">
</script>



<span class="site-footer-credits">
	<!-- Contact information -->
	<ul>
		<p>
			<a href="https://www.linkedin.com/in/raymond-matson-71430814a/"><img src="/pictures/linkedin.png" align="right" width="70" height="70"></a>
			<img src="/pictures/foot_contact.png" align="left" height="70">
			<!-- <p>Office: Skye 266</p>
			E-mail: <li><a href="mailto:EMAIL" style="color:black">EMAIL</a></li> -->
		</p>
	</ul>
	<br>

	<!-- Quotes -->
	<div style="margin-top:30px;">
		{% include myQuotes.html %}
	</div>
	<br>
</span>

<!-- Script to randomize quotes -->
<script>
	var x = document.getElementsByClassName("myQuotes");
	var quoteIndex = Math.floor(Math.random() * x.length) + 1;
	for(i = 0; i < x.length; i++) {
		x[i].style.display = "none";
	}
	x[quoteIndex-1].style.display = "block";
</script>
