<div class="navbar">
	<ul style="background-color: #f3f3f3;">
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/math-interests">Math Interests</a></li>
		<li>
			<div class="dropdown">
				<a style="color: green; font-weight: normal;">Quals</a>
				<div class="dropdown-content">
					<a href="/quals/algebra">Algebra</a>
					<a href="/quals/topology">Topology</a>
				</div>
			</div>
		</li>
		<li>
			<div class="dropdown">
				<a href="/teaching">Teaching</a>
				<div class="dropdown-content">
					<a href="/teaching/5">Math 5</a>
					<a href="/teaching/7b">Math 7B</a>
					<a href="/teaching/31">Math 31</a>
				</div>
			</div>
		</li>
	</ul>
</div>