<!DOCTYPE html>
<html>
  <head>
    <!-- Page Style -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <!-- Hyperlink Styles -->
    <style type="text/css">
      A:link { COLOR: darkblue; TEXT-DECORATION: none; font-weight: normal }
      A:visited { COLOR: green; TEXT-DECORATION: none; font-weight: normal }
      A:active { COLOR: black; TEXT-DECORATION: none }
      A:hover { COLOR: orange; TEXT-DECORATION: none; font-weight: none }
    </style>

    <!-- Titles the page's tab -->
    <title>{{ page.title }}</title>
  </head>


  <body>
    <!-- Navigation Bar -->
    <nav>
      {% include navigation.html %}
    </nav>

    <!-- Main content from index -->
    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>

    <!-- Footer -->
    <footer class="site-footer">
      {% include footer.html %}
    </footer>
  </body>

</html>
